*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.container{
   margin: 20px;
}
.col-1{
    width: 32%;
    height: 330px;
    float: left;
    margin-right: 15px;
    border: 6px solid black;
    border-radius: 6px;
    position: relative;
    background-color: #008B8B;
   overflow: hidden;
}
.col-2{
   width: 32%;
    height: 330px;
    float: left;
    margin-right: 15px;
    border: 6px solid black;
    border-radius: 6px;
    position: relative;
    background-color: #008B8B;
   overflow: hidden;
}
.col-3{
   width: 32%;
    height: 330px;
    float: left;
    border: 6px solid black;
    border-radius: 6px;
    position: relative;
    background-color: #008B8B;
   overflow: hidden;
}
h2{
    float: right;
    margin: 0%;
    background-color: grey;
    border-bottom: 6px solid black;
    border-left: 6px solid black;
    border-radius: 2px;
    font-weight: 550;
    font-size: 20px;
}
p{
   color: #B0C4DE;
   font-family: Arial, Helvetica, sans-serif;
   padding: 20px;
}
/****TABLET SCREEN****/
@media screen and (max-width:991px) and (min-width:768px) {
    .container{
        margin: 10px;
    }
    .col-1{
        width:49%;
        margin-right: 15px;
    }
    .col-2{
        width:49%;
        margin-right: 0px;
    }
    .col-3{
        width: 100%;
        margin-top: 20px;
        height: 200px;
    }
}
/***********MOBILE SCREEN********/
@media screen and (max-width:767px) {
    .col-1{
        width: 100%;
        float: left;
        margin-top: 10px;
        overflow: scroll;
    }
    .col-2{
        width: 100%;
        margin-top: 10px;
        overflow: scroll;
    }
    .col-3{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        overflow: scroll;
    } 
}
